<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img src="images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link p-menu"  href="register.html"><i class="bi bi-person-plus"></i>REGISTRATI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-menu" href="login.html"><i class="bi bi-box-arrow-in-right"></i>LOGIN</a>
                    </li>
                    <li class="nav-item mx-5">
                        <a class="btn btn-primary btn-lg register" href="create.html" role="button"><i class="bi bi-plus-circle-fill"></i>NUOVA NOTA</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search"  aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Cerca</button>
                </form>
            </div>
        </div>
    </nav>

    <!--SECTION 1-->
    <div class="hero py-5">
        <h1 class="display-2 text-center my-5">SCRIVI LA TUA NOTA</h1>
        <h2 class="text-center">Vuoi lasciare una nota epica per il futuro?</h2>
        <div class="d-flex justify-content-center  my-5">
            <button  type="button" class="btn btn-warning register btn-lg">Registrati</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12">
        <div class="card m-5">
            <div class="card-body">
                <h5 class="card-title">Web Design</h5>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item tags">
                            <a class="nav-link"  href="à">react</a>
                        </li>
                        <li class="nav-item tags">
                            <a class="nav-link"  href="à">node</a>
                        </li>
                    </ul>
                </div>
                <img src="images/default.jpeg"  class="card-img-top rounded mx-auto d-block">
                <p class="card-text">Cheeseburger wine bergkase say camembert jarlsberg manchego lancashire. Stilton fondue cream  </p>
                <p class="small">Pinco Pallino</p>
                <p ><em>21-03-2022</em></p>
                <a href="nota.html" class="btn btn-success d-block my-btn"><i class="bi bi-book"></i>Leggi tutto </a>
            </div>
        </div>
            </div>

        <div class="col-md-4 col-sm-12">
            <div class="card m-5">
                <div class="card-body">
                    <h5 class="card-title">Web Design</h5>
                    <div>
                        <ul class="nav justify-content-center">
                            <li class="nav-item tags">
                                <a class="nav-link"  href="à">react</a>
                            </li>
                            <li class="nav-item tags">
                                <a class="nav-link"  href="à">node</a>
                            </li>
                        </ul>
                    </div>
                    <img src="images/default.jpeg"  class="card-img-top rounded mx-auto d-block">
                    <p class="card-text">Cheeseburger wine bergkase say camembert jarlsberg manchego lancashire. Stilton fondue cream  </p>
                    <p class="small">Pinco Pallino</p>
                    <p ><em>21-03-2022</em></p>
                    <a href="nota.html" class="btn btn-success d-block my-btn"><i class="bi bi-book"></i>Leggi tutto </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card m-5">
                <div class="card-body">
                    <h5 class="card-title">Web Design</h5>
                    <div>
                        <ul class="nav justify-content-center">
                            <li class="nav-item tags">
                                <a class="nav-link"  href="à">react</a>
                            </li>
                            <li class="nav-item tags">
                                <a class="nav-link"  href="à">node</a>
                            </li>
                        </ul>
                    </div>
                    <img src="images/default.jpeg"  class="card-img-top rounded mx-auto d-block">
                    <p class="card-text">Cheeseburger wine bergkase say camembert jarlsberg manchego lancashire. Stilton fondue cream  </p>
                    <p class="small">Pinco Pallino</p>
                    <p ><em>21-03-2022</em></p>
                    <a href="nota.html" class="btn btn-success d-block my-btn"><i class="bi bi-book"></i>Leggi tutto </a>
                </div>
            </div>
        </div>


</div>
</div>

<footer class="py-3">

    <div class="row">
        <div class="col-md-5 col-sm-4"></div>

        <div class="col-md-2 col-md-4 extra-small">
            <p class="text-white mb-3"><em>Copyright&copy;</em></p>
            <p class="text-white mb-5"><i class="bi bi-envelope"></i>mail@mail.it</p>
        </div>
        <div class="col-md-5 col-sm-4"></div>

    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>